html {
  height: 100%;
  font-family: 'Gaegu', cursive;
  overflow: hidden;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome {
  font-weight: 100;
  font-size: 6em;
  color: #525252;
  font-family: 'Gaegu', cursive;
}
.wrapper {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 30vh;
}

.wrapper canvas {
  position: absolute;
}

#bg,
#shadow,
#forshow {
  max-width: 90%;
  max-height: 90%;
}
.control-wrapper {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 99;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: auto;
  text-align: center;
}

#shadow-control {
  display: none;
  flex-direction: column;
  overflow: auto;
  text-align: center;
}

#shadow-control .control-item {
  margin-top: 50px;
}

.control-wrapper .control-item:not(:first-child) {
  margin-top: 50px;
}

.upload-btn,
.download-btn {
  border: 1px solid currentColor;
  padding: 0.5em 0.75em;
  font-size: 1.5em;
  cursor: pointer;
  background: #fff;
}

.download-btn:active,
.upload-btn:active {
  opacity: 0.8;
}

#color-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-height: 30vh;
  padding: 1em;
  overflow: auto;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#color-container span {
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  border-radius: 50%;
}

#color-container span:active {
  box-shadow: none;
}
